.chatBox {
    z-index: 1000000;
    opacity: 0.95;
    position: absolute;
    width: 600px;
    min-height: 200px;
    font-size: .8rem;
    bottom: 10em;
    padding: 1em;
    margin: 1em;
    color: #fff;
    background-color: rgb(51, 77, 97);
    /* align to the bottom of the div */
    vertical-align: bottom;
    /* center horizontally with transform */
    left: 50%;
    transform: translateX(-50%);
    /* round the corners */
    border-radius: 5px;
    border: 2px solid #7aacba;

}

.messages { 
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 180px;
    overflow: auto;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: none;
}

/* make the scrollbar transparent with a white thumb */
.messages::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

.send {
    position: absolute;
    background-color:  rgb(51, 77, 97);
    bottom: 10px;
    color: #fff;
    width: calc(100% - 20px);
}

/* set the input0 text color to white */
.send input {
    background-color: rgb(55, 74, 103);
    color: #fff;
    border-radius: 5px;
    border: 2px solid #7aacba;
    width: calc(100% - 90px);
    display: inline-block;
}

.send button {
    background-color: rgb(78, 141, 193);
    color: #fff;
    border: 2px solid #7aacba;
    /* round the corners */
    border-radius: 5px;
    width: 50px;
    margin-left: 10px;
}